<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentMapper">
	<!--增 -->
	<insert id="addStudent" parameterType="com.example.demo.bean.Student">
		insert into student(stuname,db) VALUES(#{stuname},database()) 
	</insert>
	<!--删 -->
	<delete id="deleteStudentByStuno" parameterType="int">
		delete from student where stuno =#{stuno}
	</delete>
	<!--改 -->
	<update id="updateStudentByStuno" parameterType="com.example.demo.bean.Student">
		update student set stuName=#{stuname},db=database() where stuno=${stuno}
	</update>
	<!--查 -->
	<select id="queryAllStudents" resultType="com.example.demo.bean.Student">
		select * from student
	</select>
</mapper>
 

